{% load static %}

{% block scripts %}
  
<!-- jquery plugins here-->
   <script src="{% static 'store/js/jquery-1.12.1.min.js' %}"></script>
   <!-- popper js -->
   <script src="{% static 'store/js/popper.min.js' %}"></script>
   <!-- bootstrap js -->
   <script src="{% static 'store/js/bootstrap.min.js' %}"></script>
   <!-- easing js -->
   <script src="{% static 'store/js/jquery.magnific-popup.js' %}"></script>
   <!-- swiper js -->
   <script src="{% static 'store/js/swiper.min.js' %}"></script>
   <!-- swiper js -->
   <script src="{% static 'store/js/masonry.pkgd.js' %}"></script>
   <!-- particles js -->
   <script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'store/js/jquery.nice-select.min.js' %}"></script>
   <!-- slick js -->
   <script src="{% static 'store/js/slick.min.js' %}"></script>
   <script src="{% static 'store/js/jquery.counterup.min.js' %}"></script>
   <script src="{% static 'store/js/waypoints.min.js' %}"></script>
   <script src="{% static 'store/js/contact.js' %}"></script>
   <script src="{% static 'store/js/jquery.ajaxchimp.min.js' %}"></script>
   <script src="{% static 'store/js/jquery.form.js' %}"></script>
   <script src="{% static 'store/js/jquery.validate.min.js' %}"></script>
   <script src="{% static 'store/js/mail-script.js' %}"></script>

   <!-- custom js -->
   <script src="{% static 'store/js/custom.js' %}"></script>

{% endblock %}
